@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

*{
    box-sizing: border-box;
}
body {
    font-family: 'Arbutus Slab', serif;
    font-size: 16px;
    line-height: 22px;
    color:#000;    
}
body, html{
    margin: 0px;
    padding: 0px
}
a{
    text-decoration:none;
}
.btn{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background: #004676;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease-out;
    margin: auto;
    display: block;
    text-align: center;
    max-width: fit-content;
}
.btn:hover {
    box-shadow: 1px 3px 3px #000;
}

.btn:active {
    box-shadow: 1px 2px 3px #000;
}